:root {
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* || ----- START TASK 1 ----- */
.color-switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1.5rem, 2.5vw, 3rem);

  height: calc(65vh);
}

.start-btn {
  position: relative;
  z-index: 20;
}

.timer-input {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.start-btn,
.stop-btn {
  max-width: 30rem;

  font-family: inherit;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-weight: 700;
  line-height: 1.5;
  background: none;

  border: none;
  transition: var(--time) var(--cubic);
  transition-property: color;
  appearance: none;
}

.start-btn:focus:not(:disabled),
.start-btn:hover:not(:disabled),
.stop-btn:focus:not(:disabled),
.stop-btn:hover:not(:disabled) {
  outline: none;
}

.btn__text {
  display: inline-block;
  padding: 0.4rem 1.4rem;
  word-wrap: break-word;

  background: 0 0 / 150% 170% radial-gradient(circle at top left, #eee, #070);
  border-radius: 0.5rem;

  box-shadow: 0.3rem 0.3rem 0.5rem 0.21rem rgba(33, 33, 33, 0.4);

  transition: var(--time) var(--cubic);
  transition-property: transform, background, background-color, box-shadow;
  transform: translate(-0.21rem, -0.21rem);
}

.start-btn:focus:not(:disabled) .btn__text,
.start-btn:hover:not(:disabled) .btn__text,
.stop-btn:focus:not(:disabled) .btn__text,
.stop-btn:hover:not(:disabled) .btn__text {
  background: -1.7rem -1.7rem / 190% 200% radial-gradient(circle at top left, #eee, #070);

  box-shadow: 0.21rem 0.21rem 0.4rem 0.15rem rgba(21, 21, 21, 0.5);
  transform: translate(-0.2rem, -0.2rem);
}

.start-btn:disabled .btn__text,
.start-btn:disabled .btn__text,
.stop-btn:disabled .btn__text,
.stop-btn:disabled .btn__text {
  background: -2.1rem -2.1rem / 150% 200% radial-gradient(circle at top left, #eee, #777);

  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(21, 21, 21, 0.6);
  transform: translate(0, 0);
}

/* || ----- END TASK 1 ----- */

/* || ----- START TASK 2 ----- */
.timer__controls {
  display: flex;

  padding-left: 2.1rem;

  align-items: center;
  gap: clamp(1.2rem, 2.5vw, 1.7rem);
}

.timer__label {
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
}

.timer__input {
  display: inline-block;
  padding: 0.4rem 1rem;

  font-family: inherit;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-weight: 700;
  line-height: 1.5;

  background: 0 0 / 300% 200% radial-gradient(circle at top left, #fff, #ddd);
  border: none;
  border-top: 1px solid rgba(21, 21, 21, 0.1);
  border-left: 1px solid rgba(21, 21, 21, 0.1);
  border-radius: 0.5rem;

  box-shadow: 1rem 1rem 1rem 0.2rem rgba(21, 21, 21, 0.5);

  transition: var(--time) var(--cubic);
  transition-property: color, box-shadow;
  appearance: none;
}

.timer__input:hover:not(:disabled) {
  box-shadow: 0.21rem 0.21rem 0.35rem 0.03rem rgba(21, 21, 21, 0.5);
}

.timer__input:disabled {
  background: -2.1rem -2.1rem / 150% 200% radial-gradient(circle at top left, #eee, #777);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(21 21 21 / 60%);
  transform: translate(0, 0);
}

.timer {
  gap: clamp(1.5rem, 2.5vw, 3rem);
  display: flex;
  align-items: center;
  padding: 0 2rem;

  margin: 2rem 0 0;
  list-style: none;
}

.timer__field {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
  line-height: 1.5;
}

.value {
  font-size: clamp(2.1rem, 5vw, 3rem);
}

.label {
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
}

/* || ----- END TASK 2 ----- */

/* || ----- START TASK 3 ----- */

.form {
  display: flex;
  gap: clamp(1rem, 2.5vw, 2rem);
}

.form__label {
  display: flex;
  flex-direction: column;

  padding: 0.4rem 1rem;

  font-family: inherit;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-weight: 700;
  line-height: 1.5;

  background: 0 0 / 300% 200% radial-gradient(circle at top left, #fff, #ddd);
  border: none;
  border-top: 1px solid rgba(21, 21, 21, 0.1);
  border-left: 1px solid rgba(21, 21, 21, 0.1);
  border-radius: 0.5rem;

  box-shadow: 1rem 1rem 2.1rem 0.3rem rgba(21, 21, 21, 0.5);

  transition: var(--time) var(--cubic);
  transition-property: color, box-shadow;
  appearance: none;
}

.form__input {
  padding: 0.4rem 1rem;

  max-width: 10rem;
  font-family: inherit;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-weight: 700;
  line-height: 1.5;

  background: 0 0 / 300% 200% radial-gradient(circle at top left, #fff, #ddd);
  border: none;
  border-top: 1px solid rgba(21, 21, 21, 0.1);
  border-left: 1px solid rgba(21, 21, 21, 0.1);
  border-radius: 0.5rem;

  box-shadow: 1rem 1rem 2.1rem 0.3rem rgba(21, 21, 21, 0.5);

  transition: var(--time) var(--cubic);
  transition-property: color, box-shadow;
  appearance: none;
}

.form__input:focus,
.form__input:hover {
  background: 0 0 / 300% 200% radial-gradient(circle at top left, #fff, #777);
  box-shadow: 0.21rem 0.21rem 0.35rem 0.03rem rgba(21, 21, 21, 0.5);
}

/* || ----- END TASK 3 ----- */
